body {
  background: url(media/bcgrnd.jpeg) no-repeat;
  background-attachment: fixed;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  text-align: center;
  margin-bottom: 50px;
}

.main {
  text-align: center;
}

.table {
  background: rgba(255, 255, 255, 0.2);
  margin-left: auto;
  margin-right: auto;
  padding: 10;
}

.button-52,
.delete-button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  margin: 10px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after,
.delete-button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after,
.delete-button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
  .delete-button {
    padding: 13px, 50px, 13px;
  }
}

tr,
th,
td {
  font-size: 20px;
  color: #ffe54c;
  padding: 13px 50px 13px;
  text-align: center;
}
